<div id="sidebar"> 
                  <h3>Categories</h3>  
                  <ul class="vmenu">
                    <li>
                      <a href="#" shape="rect">Category 1</a>
                    </li>
                    <li>
                      <a href="#" shape="rect">Category 2</a>
                    </li>
                    <li>
                      <a href="#" shape="rect">Category 3</a>
                    </li>
                    <li>
                      <a href="#" shape="rect">Category 4</a>
                    </li>
                    <li>
                      <a href="#" shape="rect">Category 5</a>
                    </li>
                  </ul>  
                 
                </div> 