{% extends '::hospital.html.twig' %}
{% block contenido %}

{% for medico in medicos %}
<li><a href="{{path('acme_hospital_datos_medico',{'id':medico.id})}}">{{medico.name}}</a></li>
{% endfor %}

{% endblock %}
{% block right %}
{% include 'AcmeHelloBundle:Default:derecha.html.twig'%}
{% endblock %}
