{% extends '::hospitalBackend.html.twig' %}

{% block contenido %}
    <h1>Medico creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('medico') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
